# dependencies
/node_modules

# production
/build
/public/build

# misc
.DS_Store
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# Remix cache/dev
/.cache

# VSCode
.vscode

# Mac system files
*.DS_Store

/app/app.db*


# Optional: if using pnpm
.pnpm-debug.log*
Automatic document review.md
NOTES.md